.filterLabel {
  background-color: #e6e6e6;
  display: block;
  border-radius: 4px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filterTitle {
  color: #4c4c4c;
  margin: 0 0 16px;
}

.filterInput {
  border: 1px solid #212121;
  border-radius: 4px;
}
